*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
%text{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    word-break:break-all;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin num($w,$h){
    width:$w;
    height:$h;
}
body{
    font-size: .32rem;
}
html,body,.wrap{
    @include num(100%,100%);
}
.wrap{
    display: -webkit-flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.form{
    position: absolute;
    left: 0;
    top:0;
    z-index:9;
    visibility: hidden;
    pointer-events: none;
    @include num(100%,100%);
    background: rgba(0,0,0,.5);
    transition: background 2s;
    &.cur{
        background: rgba(0,0,0,.8);
        visibility: visible;
        pointer-events: auto;
    }
    .box{
        position: absolute;
        left: 0;
        top:0;
        @include num(70%,100%);
        padding:0 .46rem;
        background: #fff;
        input{
            @include num(100%,.8rem);
            border:none;
            border:1px solid #666;
            &:nth-child(1){
                margin-top:.5rem;
            }
            &:nth-child(2){
                margin-top:.24rem;
            }
        }
    }
}
.header{
    @include num (100%,.84rem);
    border-bottom:1px solid #ccc;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding:0 .24rem;
    a{
        text-align: left;
        color:#ccc;
        i.icon{
            @include num(.4rem,.4rem);
        }
        &:nth-child(1),&:nth-child(3){
            flex-basis:1rem;
        }
        &:nth-child(2){
            flex:1;
            text-align: center;
            &>img{
                width: 3rem;
                height: 0.6rem;
            }
        }
        &:nth-child(3){
            &>i.icon:nth-child(1){
                margin-right:.2rem;
            }
        }
    }
}
.nav{
    @include num(100%,.9rem);
    line-height: .9rem;
    background: #ff3333;
    position: fixed;
    left: 0;
    top:.84rem;
    z-index:9;
    &.cur{
        background: rgba(0,0,0,.8);
        visibility: visible;
        pointer-events: auto;
        position: fixed;
        left: 0;
        top:0;
        background: #ff3333;
    }
    &>a{
        position: absolute;
        right: 0;
        top: 0;
        @include num(10%,.9rem);
        background: #ff3333;
        line-height: .9rem;
        text-align: center;
        i.icon{
            @include num(.38rem,.26rem);
            color:#fff;
        }
    }
    .left{
        position: absolute;;
        left: 0;
        top: 0;
        @include num(90%,100%);
    }
}
.cont{
    position: absolute;
    left: 0;
    top: 0.9rem;
    @include num(100%,0);
    background: rgba(0,0,0,.5);
    overflow: hidden;
    transition: height 2s cubic-bezier(0.42, 0, 0.32, 0.77);
    &.cur{
        height:15rem;
    }
}
.ol{
    @include num(100%,100%);
    line-height: .9rem;
    overflow: hidden;
    .li{
        height: 100%;
        line-height: .9rem;
        display: -webkit-flex;
        a{
            flex-shrink: 0;
            padding: 0 .36rem;
            color: #fff;
            font-size: .3rem;
        }
    }
}
.top{
    position: fixed;
    left: 0;
    top: 0;
    z-index:99;
}
.main{
    flex:1;
    padding-bottom:1rem;
    overflow-y:scroll;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.sel{
@include num(100%,auto);
.banner{
    position: relative;
    width: 100%;
    height:3.4rem;
    .li{
        width: 100%;
        height:100%;
        &>img{
            width: 100%;
            height: 100%;
        }
    }
    .index{
        position: absolute;
        left:0;
        bottom:.15rem;
        z-index:9;
        border-radius:.2rem;
        font-size: .2rem;
        text-align: center;
        @include num(.74rem,.4rem);
        background: rgba(0,0,0,.5);
        color:#fff;
    }
}
}
.section1{
    .ban{
    @include num(100%,auto);
    position:relative;
    img{
    @include num(100%,auto);
    }
    a{
    position:absolute;
    right:.2rem;
    bottom:.1rem;
    padding:.02rem .05rem;
    background:rgba(0,0,0,.3);
    border-radius:.16rem;
    color:#fff;
    font-size:.2rem;
    }
    }
}  
.aside{
    flex:1;
    overflow-y: scroll;
    padding:.45rem .18rem 0 .18rem;
}
.con{
    @include num(100%,1.66rem);
    border-bottom:1px solid #ccc;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    dd{
        flex:1;
        padding-top:.18rem;
        position: relative;
        padding-left: .2rem;
        h5{
            width: 100%;
            @extend %text;
            line-height: .26rem ;
            font-size: .2rem;
        }
        span{
            font-size: .14rem;
            color:#ccc;
        }
    }
    dt{
        @include num(1.76rem,1.34rem);
        img{
            @include num(100%,100%);
        }
    }
}